*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url('t.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
nav{
    width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0,0.2);
    color: blanchedalmond;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-transform: uppercase;
}
.logo{
    width: 25%;
    text-align: center;
    color: blueviolet;
}

.menu{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    
}
a{
    text-decoration: none;
    color: blanchedalmond;
    font-weight: bold;
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
}
section h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;

}
section h1{
    font-size: 55px;
    font-weight: 700;
    text-shadow: 1px 1px 5px black;
    text-transform: uppercase;
    margin: 30px 0 20px 0;

}
section p{
    font-size: 25px;
    font-weight: 400;
    text-shadow: 1px 1px 5px black;
    text-transform: uppercase;
    margin-bottom: 25px;
    word-spacing: 2px;

}
section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px; 
    transition: all .5s ease;


}
.btnone{
    background: whitesmoke;
    color: tomato;
    
}
.btntwo{
    background: aqua;
    color: white;
}
.menu  a:first-child{
    color: teal;
}
.change_content:after{
    content: '';
    animation: changetext 10s infinite linear;
    color: aqua 

}
@keyframes changetext{
    0%{content:"AKOLA"; }
    20%{content:"PATUR"; }
    35%{content:"MURTIZAPUR"; }
    60%{content:"MAHAN"; }
    80%{content:"BALAPUR"; }
    100%{content:"BARSI TAKLI"; }    
}
.btnone:hover{
    background: aqua;
    color: white;

}
.btntwo:hover{
    background: whitesmoke;
    color: tomato;
}